<div class="container">
  <div class="row py-5">
    <h1 class="py-5"><span class="list-title px-3">Mon Profil</span></h1>
  </div>

    <div class="row py-3">
      Nom: <%= @user.last_name %>
    </div>

    <div class="row py-3">
      Prénom: <%= @user.first_name %>
    </div>

    <div class="row py-3">
      Email: <%= @user.email %>
    </div>

    <div class="row py-3">
      Description: <%= @user.description %>
    </div>
  </div>
