<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @orga.first_name %>, quelqu'un a rejoint l'évènement que tu as créé !</h1>

    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
  </body>
</html>
